header{
    background-color: brown;
    height: 10vh;
    margin: auto;
    display: flex;
}
section{
    background-color: aqua;
    height: 80vh;
    margin: auto;
    display: flex;
}
footer{
    background-color: blue;
    height: 10vh;
    margin: auto;
    display: flex;
}
*{
    margin: auto;
}
h1{
    margin: auto;
}